* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
  
html, body {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 16px;
}

.leftlogo {
  display: inline-block;
  font-size: 20px;
  font-style: italic;
  color:maroon;
  left: 50px;
  top: 33px;
  width: 14%;
  position: absolute;
}

.me {       
  font-size: 43px;
  margin: 7px -46px;
  padding: 20px 3px;
  width: 110%;
  text-align: center;
  text-size-adjust: 20px;
  border-radius: 50px;
}

.me strong {
 color: rgba(0, 255, 251)(255, 0, 0);
}

.middle {
  display: block;
  width: 105%;
  margin: 28px 504px;
  padding: 1px 2px;
  border-radius: 20px;
}

.header {
  background-color: rgb(238, 232, 166);
  padding-top: 1%;
  padding-bottom: 1%;
}  

.navbar {
  display: inline-block;
}

.navbar li {
  display: inline-block;
  font-size: 20px;
  padding: 3px 5px;
}

.navbar li a {
  color: rgb(0, 255, 251)(255, 0, 0);
  text-decoration: none;
  padding: 17px 58px;
}

.navbar li a:hover,
.navbar li a.active {
  color: rgb(50, 156, 255);

}
  
.titlePage {
  background-image: url('wp2037803-taj-mahal-hd-wallpapers.jpg');
  background-size: cover;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 200px;
  margin-bottom: 10px;
}
  
.titlePage h1 {
  color:darkorange;
  font-size: 3.5rem;
}
  
.titlePage p {
  color:rgb(53, 52, 52);
  font-size: 1.5rem;
}
  
.btn-1 {
  background: #ff9966;
  border: none;
  color: #282222;
  cursor: pointer;
  padding: 10px 20px;
  text-transform: uppercase;
  font-size: .8rem;
  margin-top: 20px;
  transition: all .5s ease-in-out;
}
  
.btn-1:hover {
  background: #cc4400;
}
  
#About {
  text-align: center;
  padding: 40px;
}
  
#About h1 {
  margin-bottom: 20px;
  color: rgb(205, 50, 50);
}
  
#Info {
  text-align: center;
  padding: 40px;
  margin-bottom: 20px;
}
  
#Info h1 {
  text-align: center;
  margin-bottom: 20px;
  color: rgb(205, 50, 81);
}
  
.flex-columns {
  text-align: center;
  display:inline-block;
  padding: 20px;
}

.bottom {
  display: flex;
}

.about {
  background-color: rgb(227, 227, 110);
  padding: 4px;
  margin: 3px;
  text-align: center;
}

.about h3 {
  text-align: center;
}

.contact {
  background-color: rgb(218, 173, 234);
  padding: 4px;
  text-align: center;
  margin: 3px;
}

.contact h2 {
  text-align: center;
}
 
footer {
  min-height: 150px;
  background: #171515;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  color: gold;
}